.CompanyWatchlistDiv{
    /* border: solid black 2px;
    border-radius: 5px 5px;
    padding: 20px; */

    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 2em 2em;
    margin-top: 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgb(209, 209, 209);
    width: 230px;
}

.add-to-watchlist-title {
    text-align: center;
    margin-bottom: 10px;
}

.WatchListCompanyButton{
    background-color: #0b7cee;
    color: white;
    font-family: sans-serif;
    /* border-radius: 5px 5px;
    padding: 5px 5px; */
    height: 30px;
    padding: 7px 25px;
    border-radius: 35px;
    border: none;
    transition-duration: 1s;
    margin: 5px;
}

.WatchListCompanyButton:hover{
    cursor: pointer;
    box-shadow: 0px 0px 6px rgb(92, 91, 91, .8);
    /* cursor: pointer;
    border: solid 1px black;
    border-bottom: 1px solid;
    border-top: 1px solid;
    background-color: transparent;
    font-family: sans-serif;
    box-shadow: 0px 0px 8px rgba(146, 143, 143, 0.8); */

}

.WatchListCompanyButton:active{
    border: solid 1px black;
    border-bottom: 1px solid;
    border-top: 1px solid;
    background-color: transparent;
    font-family: sans-serif;
    box-shadow: 0px 0px 8px rgba(146, 143, 143, 0.8);
    background: #e5e5e5;
    outline: none;
}
