#portfolio-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    padding-top: 70px;
}

.portfolio-graph {
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 40px;
}

#left {
    width: 1000px;
}

#right {
    width: auto;
    margin-left: 60px;
}

.your-assets-heading {
    font-size: 36pt;
    width: 950px;
    color: #0b7cee;
}

.owned-assets {
    display: flex;
    justify-content: center;
    width: auto;
    border-bottom: 1px solid lightgray;
    padding-bottom: 40px;
}

tr {
    text-align: left;
}

th {
    font-weight: 400;
    color: gray;
}

.owned-comp-name {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0%;
}

.owned-comp-name,
.owned-balance,
.owned-comp-price {
    padding: 10px 0 10px 0;
}

.company-ticker,
.owned-comp-shares,
.curr-comp-percent {
    font-size: 10pt;
    color: gray;
    padding-top: 5px;
}

.owned-comp-price,
.owned-balance,
.owned-allocations {
    width: 200px;
}

.news-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 50px; */
    margin-top: 10px;
    align-items: center;
    /* font-size: 48pt; */
    font-weight: 700;
}

.watchlist-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-weight: 700;
}

.watchlist-form {
    justify-content: center;
    align-items: center;
}
