#portfolio-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.portfolio-graph {
    width: 100vw;
    height: 60vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36pt;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
}

#info {
    width: 100vw;
}

.owned-assets > ul {
    list-style: none;
}

.stock-ctn {
    display: flex;
    width: 600px;
}
