#portfolio-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    padding-top: 70px;
}

.portfolio-graph {
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.balance-info {
    width: 800px;
    height: 100px;
}

.balance-amt {
    font-size: 26pt;
    font-weight: 600;
    padding: 5px 0;
}

.balance-percent {
    display: flex;
}

.all-time {
    padding-left: 5px;
}

.custom-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    padding: 10px 20px;
    border-radius: 7px;
}

.tooltip-price {
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 14pt;
}

.tooltip-date {
    font-size: 10pt;
}

.asset-chart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.asset-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    height: 50px;
    justify-content: space-between;
}

.asset-timeframe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10pt;
}

.asset-timeframe div {
    width: 50px;
}

#info {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 40px;
}

#left {
    width: 1000px;
}

#right {
    width: 300px;
    margin-left: 60px;
}

.owned-assets {
    display: flex;
    justify-content: center;
    width: auto;
    border-bottom: 1px solid lightgray;
    padding-bottom: 40px;
}

tr {
    text-align: left;
}

th {
    font-weight: 400;
    color: gray;
}

.owned-comp-name {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0%;
}

.owned-comp-name,
.owned-balance,
.owned-comp-price {
    padding: 10px 0 10px 0;
}

.company-ticker,
.owned-comp-shares,
.curr-comp-percent {
    font-size: 10pt;
    color: gray;
    padding-top: 5px;
}

.owned-comp-price,
.owned-balance,
.owned-allocations {
    width: 200px;
}

.news-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 50px; */
    margin-top: 10px;
    align-items: center;
    /* font-size: 48pt; */
    font-weight: 700;
}

.watchlist-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-weight: 700;
}

.watchlist-form {
    justify-content: center;
    align-items: center;
}
