* {
    font-family: sans-serif;
    margin: 0;
}

.panel-one {
    background-color: #0b7cee;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    /* z-index: 0; */
    /* position: fixed; */
}

.panel-one-description {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 9em;
    margin-top: 2em;
}

.panel-one-description h1 {
    font-size: 3em;
    font-weight: 400;
    margin-top: 0em;
}

#panel-h1-spacer {
    height: 2em;
}

.panel-one-description p {
    font-size: 1em;
    line-height: 1.5em;
}

#get-started-btn {
    margin-top: 2.5em;
    border-radius: 23px;
    height: 50px;
    width: 137px;
    background-color: #0b7cee;
    border: none;
    font-size: 1em;
    color: white;
    border: 2px solid white;
}

#get-started-btn:hover {
    cursor: pointer;
}

.panel-one-image {
    position: relative;
    top: 3em;
    right: 2em;
    left: 1em;
    height: 30em;
}

.splash-disclaimer {
    /* background-color: whitesmoke; */
    color:#0b7cee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
}

.splash-disclaimer p {
    /* line-height: 5px; */
    margin-bottom: 0;
}
