.transaction-container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.TitleTransactions {
    color: rgb(11, 124, 238);
    border-bottom: 2px solid #0b7cee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36pt;
}

.ColumnNameTransactions {
    margin: 10px 10px;
    /* border: 2px solid rgb(82, 82, 82, .4); */
    border: 2px solid rgb(74, 243, 248);
    align-items: center;
    padding: 10px 15px;
    color: #0b7cee;
    font-weight: bold;
    justify-content: center;
    /* background-color: #28c5f9;
    background-image: linear-gradient(to right, rgb(74, 243, 248, .6), rgb(11, 124, 238, .6)); */
    background-image: linear-gradient(to right, rgb(74, 243, 248, .2), rgb(11, 124, 238, .2));

}


.transactionColumn {
    margin: 10px 10px;
    border: 2px solid rgb(74, 243, 248);
    align-items: center;
    padding: 10px 15px;
    justify-content: center;
    font-weight: bold;
    color: rgb(11, 124, 238);
    width: 100rem;


}

.transactionColumn:nth-child(odd) {
    /* background-color: #28c5f9; */
    /* background-image: linear-gradient(to right, rgb(74, 243, 248, .8), rgb(11, 124, 238, .8)); */
    background-image: linear-gradient(to right, rgb(74, 243, 248, .2), rgb(11, 124, 238, .2));
}

.transactionColumn:nth-child(even) {
    /* background-color: #0b7cee; */
    background-image: linear-gradient(to left, rgb(74, 243, 248, .2), rgb(11, 124, 238, .2));
}

.transaction-page-transaction-details-container {
    display: flex;
    justify-content: space-between;
}

.transaction-table {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 40px auto 0 auto;
    height: 80vh;
}

.transaction-page-transaction-price {
    display: flex;
    align-items: center;
}

.transaction-page-ticker-price-buy-sell-container,
.transaction-page-transaction-date,
.transaction-page-transaction-stock-price,
.transaction-page-transaction-buy-sell,
.transaction-page-transaction-total-price {
    width: 100px;
}
