.stock-details-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stock-detail-bottom {
    height: 50px;
    width: 95vw;
    border-bottom: 1px solid lightgray;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.stock-timeframe {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 850px;
    height: 50px;
}

.stock-timeframe span {
    width: 50px;
    font-size: 10pt;
}

.weekly-btn,
.monthly-btn,
.three-months-btn,
.six-months-btn,
.one-year-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #0b7cee;
    font-weight: 600;
}


/* .stock-details-information {
    max-width: 60%;
    margin-left: 5%;
    margin-top: 90px;
} */

#bottom-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.stock-details-company-information {
    margin-top: 40px;
}

.stock-details-title,
.stock-details-keystats-information {
    display: flex;
    justify-content: space-between;
}

.stock-details-about-title,
.stock-details-keystats-title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 20px;
}

.stock-details-about-description {
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 2;
}

.stock-details-ceo-title,
.stock-details-employees-title,
.stock-details-headquarters-title,
.stock-details-founded-title,
.stock-details-high-price,
.stock-details-low-price,
.stock-details-open-price,
.stock-details-close-price {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 14px;
}

.stock-details-name-title {
    font-weight: 600;
    font-size: 36px;
    margin-top: 50px;
    width: 950px;
    padding-bottom: 20px;
}

.stock-balance-amount {
    display: flex;
    align-items: flex-start;
    width: 950px;
    padding-bottom: 20px;
    font-size: 26pt;
    font-weight: 600;
}

.stock-details-keystats-title {
    margin-top: 40px;
    display: flex;
}

.stock-details-high-price,
.stock-details-low-price,
.stock-details-open-price,
.stock-details-close-price {
    margin-top: 40px;
}

.fixed-side-container {
    display: block;
    /* padding: 0 20px 20px 20px; */
    margin: 45px 2em 2em 2em;
    /* border: 1px solid transparent; */
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgb(209, 209, 209);
    width: 270px;
    /* height: 360px; */
}

.transaction-info,
.shares-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.transaction-labels {
    display: flex;
    align-items: center;
}

#shares {
    width: 75px;
    height: 30px;
    padding-left: 10px;
}

.transaction-btn {
    display: flex;
    justify-content: center;
}

#transaction-balance {
    margin-bottom: 20px;
}

#tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.buy-tab,
.sell-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    font-weight: 700;
    /* font-size: 14pt; */
    cursor: pointer;
    width: 100%;
}

.buy-tab {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 1px solid lightgray;
}
.sell-tab {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.buy-tab:hover,
.sell-tab:hover {
    background-color: rgba(211, 211, 211, 0.2);
}

#buy-sell-hr {
    margin-bottom: 5px;
}

.buy-sell-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy-sell {
    /* display: flex; */
    width: 80%;
    padding: 10px;
}

#buy-btn, #sell-btn {
    /* padding: 5px;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid black;
    width: 60px;
    margin-bottom: 5px; */
    background-color: #0b7cee;
    color: white;
    font-family: sans-serif;
    /* border-radius: 5px 5px;
    padding: 5px 5px; */
    height: 40px;
    padding: 7px 25px;
    border-radius: 35px;
    border: none;
    transition-duration: 1s;
    margin-bottom: 20px;
    width: 100%;
    font-size: 12pt;
}

#buy-btn:hover, #sell-btn:hover {
    /* background-color: rgb(40, 197, 249); */
    cursor: pointer;
    box-shadow: 0px 0px 6px rgb(92, 91, 91, .8);
}
