.hidden {
    display: none;
}



.watchlists {
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 40px;
    border: solid black 2px;
    border-radius: 10px 10px;
    padding: 40px;
}

.deleteButton {
    padding: 5px 14px;
    background-color: transparent;
    transition-duration: 1.2s;
}

.deleteButton:hover {
    padding: 5px 14px;
    box-shadow: 0px 0px 5px rgb(92, 91, 91);

    /* background-color: #0b7cee; */

}

.editButton {
    padding: 5px 14px;
    background-color: transparent;
    transition-duration: 1s;

}

.editButton:hover {
    padding: 5px 14px;
    box-shadow: 0px 0px 5px rgb(92, 91, 91);
    /* background-color: #0b7cee; */

}

.editingPicture {
    width: 15px;
}

.deletePicture {
    width: 15px;
}
