table {
    width: 1000px;
}

thead,
tbody {
    display: flex;
    justify-content: center;
}

tbody {
    padding-top: 10px;
}

.owned-assets {
    display: flex;
    justify-content: center;
    width: auto;
    border-bottom: 1px solid lightgray;
    padding-bottom: 40px;
}

tr {
    display: flex;
    text-align: left;
}

th {
    font-weight: 400;
    color: gray;
    padding: 0;
}

.portfolio-theaders {
    border-bottom: 1px solid lightgray;
    padding: 15px 0 25px 0;
}

.comp-title {
    display: flex;
    flex-direction: column;
    /* width: 250px; */
}

.owned-comp-label,
.comp-title {
    width: 300px;
}

.owned-shares-label,
.owned-balance,
.owned-price-label,
.owned-comp-price,
.owned-allocations-label,
.allocation-percent {
    width: 200px;
}

.comp-title,
.owned-comp-name,
.owned-balance,
.owned-comp-price {
    padding: 15px 0 15px 0;
}

.allocation-percent {
    padding: 25px 0 25px 0;
}

.company-ticker,
.owned-comp-shares,
.curr-comp-percent {
    font-size: 10pt;
    color: gray;
    padding-top: 5px;
}

/* .owned-comp-price,
.owned-balance,
.owned-allocations {
    width: 200px;
} */
